// Bootstrap
@import '~bootstrap/scss/bootstrap';

@tailwind base;

@tailwind components;

@tailwind utilities;

 html, body {
   background-color: #fff;
   color: #636b6f;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 200;
   height: 100vh;
   margin: 0;
 }

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.panel-title > a.collapsed:before {
  float: right !important;
  content: "\f067";
  font-size: 9px;
  margin-top: 5px;
}

.panel-title > a:before {
  float: right !important;
  font-family: FontAwesome;
  content:"\f068";
  padding-right: 5px;
  font-size: 9px;
  margin-top: 5px;
}
.panel-title > a[data-toggle='collapse-nema'].collapsed:before {
  float: right !important;
  content:"";
  font-size: 9px;
  margin-top: 5px;
}
.panel-title > a[data-toggle='collapse-nema']:before {
  float: right !important;
  font-family: FontAwesome;
  content:"";
  padding-right: 5px;
  font-size: 9px;
  margin-top: 5px;
}
.panel-default:last-child {
  border-bottom: 0;
}
#result {
  display: flex;
  margin-top: 7px;
}
#result div {
  padding: 5px;
  position: relative;
  text-align: center;
  width: 25%;
}
#result div a {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 6px;
  background: #bd3232;
  color: white;
  font-size: 8px;
  border-radius: 15px;
}
#results-var {
  display: flex;
  margin-top: 7px;
}
#results-var div {
  padding: 5px;
  position: relative;
  text-align: center;
  width: 25%;
}
#results-var div img {
  display: inline;
}
#results-var div a {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 6px;
  background: #bd3232;
  color: white;
  font-size: 8px;
  border-radius: 15px;
}
.shop-width {
  width: 31.76%;
  margin-right: 20px;
  margin-bottom: 20px;
}
.shop-width:nth-child(3n) {
  margin-right: 0;
}
.product-gallery-width {
  width: 31%;
  margin-right: 15px;
  margin-bottom: 15px;
}
.product-gallery-width:nth-child(3n) {
  margin-right: 0;
}
.product-inquiry-width {
  width: 18%;
}
.admin-product-gallery-width {
  width: 17%;
  margin-right: 5px;
  text-align: center;
}
.admin-product-gallery-width img {
  display: inline;
}
.admin-product-gallery-width a {
  position: absolute;
  top: -5px;
  right: 0;
  padding: 2px 6px;
  background: #bd3232;
  color: white;
  font-size: 8px;
  border-radius: 15px;
}
.contact-map {
  width: 65%;
}
.contact-addresse {
  width: 35%;
}
.button-cancel {
  background: #fff;
  color: #707070;
  border-radius: 50%;
  position: absolute;
  top: -16px;
  right: -12px;
  box-shadow: 0 0 6px 0 #333;
}
.button-cancel button {
  padding: 4px 12px;
}
.v--modal-overlay .v--modal-box {
  overflow: visible !important;
}
.inspiration-name {
  position: absolute;
  bottom: -50px;
  left: 50px;
  transition: 200ms all linear;
}
.inspiration::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.43);
}
.inspiration:hover .inspiration-name {
  transition: 200ms all linear;
  bottom: 70px;
  z-index: 6;
}
.inspiration:hover:after {
  opacity: 1;
  z-index: 2;
  transition: 200ms all linear;
}
.designer-desc {
  height: 446px;
  overflow: auto;
  direction: rtl;
}
.designer-desc::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 45, 63, 0.9);
  background-color: #efefef;
}
.designer-desc::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}
.designer-desc::-webkit-scrollbar-thumb {
  background-color: #002d3f;
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
          color-stop(.5, rgba(255, 255, 255, .1)),
          color-stop(.5, transparent), to(transparent));
}
.designer-name {
  position: absolute;
  bottom: -50px;
  left: 50px;
  transition: 200ms all linear;
}
.designer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.43);
}
.designer:hover .designer-name {
  transition: 200ms all linear;
  bottom: 70px;
  z-index: 6;
}
.designer:hover:after {
  opacity: 1;
  z-index: 2;
  transition: 200ms all linear;
}
.shop-width img:hover {
  transition: 300ms all linear;
  box-shadow: 0 0 1px #cfcfcf;
}
.inquiry-border {
  border: 1px solid #333 !important;
}
.designer-product-width {
  width: 32%;
  margin-right: 20px;
  margin-bottom: 20px;
}
.designer-product-width:nth-child(3n) {
  margin-right: 0;
}
.hooper {
  height: 100% !important;
}
.hooper-margina {
  padding-right: 17px !important;
}
.hooper-margina:nth-child(3) {
  padding-right: 0 !important;
}
.admin-inspiration {
  width: 48%;
}
.admin-inspiration:nth-child(2)
{
  margin-right: 0;
}
#results-insp {
  display: flex;
  margin-top: 7px;
}
#results-insp div {
  padding: 5px;
  position: relative;
  text-align: center;
  width: 25%;
}
#results-insp div img {
  display: inline;
}
#results-insp div a {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 6px;
  background: #bd3232;
  color: white;
  font-size: 8px;
  border-radius: 15px;
}
.v--modal-overlay .v--modal-background-click {
  background: rgba(255, 255, 255, 0.07);
}


@media (max-width: 640px) {
  .shop-width {
    width: 90%;
    margin: auto;
  }
}